TELEGRAM_BOT_TOKEN=
TELEGRAM_GROUP_CHAT_ID=
TELEGRAM_OWNER_USER_IDS=
GITHUB_TOKEN=
GITHUB_OWNER=
LLM_BASE_URL=http://localhost:11434/v1
LLM_API_KEY=
# LLM_MODEL=qwen3:8b
LLM_MODEL=gpt-oss:20b-cloud # cloud ollama
SQLITE_PATH=tg_triage.sqlite
